* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: rgb(127,103,122);
    background: -moz-linear-gradient(150deg, rgba(127,103,122,1) 0%, rgba(197,104,224,1) 100%);
    background: -webkit-linear-gradient(150deg, rgba(127,103,122,1) 0%, rgba(197,104,224,1) 100%);
    background: linear-gradient(150deg, rgba(127,103,122,1) 0%, rgba(197,104,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f677a",endColorstr="#c568e0",GradientType=1);
}