.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 5px ridge #FFFFFF;
    margin: 0px 0px 20px 0px;

    &_link {
        border: 2px white solid;
        padding: 15px;
        border-radius: 100%;
        cursor: pointer;
        text-decoration: none;
        color: #FFFFFF;
        transition: transform 500ms ease-in-out, background-position 800ms ease-in-out, box-shadow 500ms linear;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.logo-container {

    display: flex;
    justify-content: center;

    &_img {
        object-fit: cover;
        width:fit-content;
        height: 215px;
    }
}